WIFI_SSID="you-wifi-ssid"
WIFI_PASSWORD="your-wifi-password"

WEATHER_TODAY="/v1/forecast?latitude=52.2298&longitude=21.0118&hourly=temperature_2m,weather_code&timezone=Europe%2FBerlin&past_days=0&forecast_days=2"
WEATHER_WEEK="/v1/forecast?latitude=52.2298&longitude=21.0118&daily=weather_code,temperature_2m_max,temperature_2m_min&timezone=Europe%2FBerlin"
